In [33]:
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [34]:
PROJECT_ROOT = Path.cwd().parent
DATA_PATH = PROJECT_ROOT / "data" / "engineered_iris_data.csv"

In [35]:
df = pd.read_csv(DATA_PATH)
df

,sepallengthcm,sepalwidthcm,petallengthcm,petalwidthcm,species,petalratio,sepalratio
0,5.1,3.5,1.4,0.2,0,7.000000,1.457143
1,4.9,3.0,1.4,0.2,0,7.000000,1.633333
2,4.7,3.2,1.3,0.2,0,6.500000,1.468750
3,4.6,3.1,1.5,0.2,0,7.500000,1.483871
4,5.0,3.6,1.4,0.2,0,7.000000,1.388889
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,2.260870,2.233333
146,6.3,2.5,5.0,1.9,2,2.631579,2.520000
147,6.5,3.0,5.2,2.0,2,2.600000,2.166667
148,6.2,3.4,5.4,2.3,2,2.347826,1.823529
149,5.9,3.0,5.1,1.8,2,2.833333,1.966667

In [36]:
# Define features matrix X and target vector y
X = df.drop("species", axis=1)
y = df["species"]

In [37]:
# Splitting: 80% Train, 20% Test
# random_state for reproducibility
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42,stratify=y)

In [38]:
X_train

,sepallengthcm,sepalwidthcm,petallengthcm,petalwidthcm,petalratio,sepalratio
8,4.4,2.9,1.4,0.2,7.000000,1.517241
106,4.9,2.5,4.5,1.7,2.647059,1.960000
76,6.8,2.8,4.8,1.4,3.428571,2.428571
9,4.9,3.1,1.5,0.1,15.000000,1.580645
89,5.5,2.5,4.0,1.3,3.076923,2.200000
...,...,...,...,...,...,...
37,4.9,3.1,1.5,0.1,15.000000,1.580645
2,4.7,3.2,1.3,0.2,6.500000,1.468750
33,5.5,4.2,1.4,0.2,7.000000,1.309524
52,6.9,3.1,4.9,1.5,3.266667,2.225806
3,4.6,3.1,1.5,0.2,7.500000,1.483871

In [39]:
X_test

,sepallengthcm,sepalwidthcm,petallengthcm,petalwidthcm,petalratio,sepalratio
38,4.4,3.0,1.3,0.2,6.500000,1.466667
127,6.1,3.0,4.9,1.8,2.722222,2.033333
57,4.9,2.4,3.3,1.0,3.300000,2.041667
93,5.0,2.3,3.3,1.0,3.300000,2.173913
42,4.4,3.2,1.3,0.2,6.500000,1.375000
56,6.3,3.3,4.7,1.6,2.937500,1.909091
22,4.6,3.6,1.0,0.2,5.000000,1.277778
20,5.4,3.4,1.7,0.2,8.500000,1.588235
147,6.5,3.0,5.2,2.0,2.600000,2.166667
84,5.4,3.0,4.5,1.5,3.000000,1.800000
107,7.3,2.9,6.3,1.8,3.500000,2.517241
141,6.9,3.1,5.1,2.3,2.217391,2.225806
104,6.5,3.0,5.8,2.2,2.636364,2.166667
51,6.4,3.2,4.5,1.5,3.000000,2.000000
7,5.0,3.4,1.5,0.2,7.500000,1.470588
49,5.0,3.3,1.4,0.2,7.000000,1.515152
14,5.8,4.0,1.2,0.2,6.000000,1.450000
69,5.6,2.5,3.9,1.1,3.545455,2.240000
63,6.1,2.9,4.7,1.4,3.357143,2.103448
138,6.0,3.0,4.8,1.8,2.666667,2.000000
10,5.4,3.7,1.5,0.2,7.500000,1.459459
140,6.7,3.1,5.6,2.4,2.333333,2.161290
58,6.6,2.9,4.6,1.3,3.538462,2.275862
134,6.1,2.6,5.6,1.4,4.000000,2.346154
132,6.4,2.8,5.6,2.2,2.545455,2.285714
77,6.7,3.0,5.0,1.7,2.941176,2.233333
75,6.6,3.0,4.4,1.4,3.142857,2.200000
18,5.7,3.8,1.7,0.3,5.666667,1.500000
116,6.5,3.0,5.5,1.8,3.055556,2.166667
28,5.2,3.4,1.4,0.2,7.000000,1.529412

In [40]:
y_train

8      0
106    2
76     1
9      0
89     1
      ..
37     0
2      0
33     0
52     1
3      0
Name: species, Length: 120, dtype: int64

In [41]:
y_test

38     0
127    2
57     1
93     1
42     0
56     1
22     0
20     0
147    2
84     1
107    2
141    2
104    2
51     1
7      0
49     0
14     0
69     1
63     1
138    2
10     0
140    2
58     1
134    2
132    2
77     1
75     1
18     0
116    2
28     0
Name: species, dtype: int64

In [42]:
X_train.to_csv("X_train.csv", index=False)
X_test.to_csv("X_test.csv", index=False)
y_train.to_csv("y_train.csv", index=False)
y_test.to_csv("y_test.csv", index=False)
print("Splitted data saved successfully.")

Splitted data saved successfully.