In [14]:
import pandas as pd
from pathlib import Path

In [15]:
PROJECT_ROOT = Path.cwd().parent
DATA_PATH = PROJECT_ROOT / "data" / "encoded_iris_data.csv"

In [16]:
df = pd.read_csv(DATA_PATH)
df

     sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm  species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [17]:
# Engineering "Ratios" - often flower species are defined by the proportion of petals/sepals
# Creating a Petal Aspect Ratio and Sepal Aspect Ratio
df["petalratio"] = df["petallengthcm"] / df["petalwidthcm"]
df["sepalratio"] = df["sepallengthcm"] / df["sepalwidthcm"]
print("\n--- Feature Engineering Complete (Added Ratios) ---")

--- Feature Engineering Complete (Added Ratios) ---

In [18]:
df

,sepallengthcm,sepalwidthcm,petallengthcm,petalwidthcm,species,petalratio,sepalratio
0,5.1,3.5,1.4,0.2,0,7.000000,1.457143
1,4.9,3.0,1.4,0.2,0,7.000000,1.633333
2,4.7,3.2,1.3,0.2,0,6.500000,1.468750
3,4.6,3.1,1.5,0.2,0,7.500000,1.483871
4,5.0,3.6,1.4,0.2,0,7.000000,1.388889
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,2.260870,2.233333
146,6.3,2.5,5.0,1.9,2,2.631579,2.520000
147,6.5,3.0,5.2,2.0,2,2.600000,2.166667
148,6.2,3.4,5.4,2.3,2,2.347826,1.823529
149,5.9,3.0,5.1,1.8,2,2.833333,1.966667

In [19]:
# Project root (one level above notebooks)
PROJECT_ROOT = Path.cwd().parent
DATA_DIR = PROJECT_ROOT / "data"

# Create data directory if it doesn't exist
DATA_DIR.mkdir(exist_ok=True)

# Save file
output_path = DATA_DIR / "engineered_iris_data.csv"
df.to_csv(output_path, index=False)

print('Feature engineered data saved successfully!')

Feature engineered data saved successfully!