Data Preprocessing

In [112]:
import sys
from pathlib import Path

project_root = Path.cwd().parent
sys.path.append(str("src"))

In [113]:
import pandas as pd
import src.load_data as ld
def preprocess_data():
    df = ld.load_data()
    return df

In [114]:
df = preprocess_data()
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [115]:
# Data Information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [116]:
# Shape of the Data
print("Shape of the data:", df.shape)

Shape of the data: (150, 6)

In [117]:
# Check for duplicated rows
df_duplicated = df.duplicated().sum()
print("Number of duplicated rows:", df_duplicated)

Number of duplicated rows: 0

In [118]:
# Check for missing values
if df.isnull().sum().any():
    print("Missing values detected. Performing imputation...")
    df = df.fillna(df.median())

In [119]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [120]:
# Dropping the "Id" as it unique identifier and adds no predictive value (avoid overfitting)
if 'Id' in df.columns:
    df = df.drop(columns=['Id'])

In [121]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [122]:
# Rename columns for consistency
df.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

In [123]:
df

     sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm         species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [124]:
'''import sys
from pathlib import Path

project_root = Path.cwd().parent
sys.path.append(str("data"))'''

'import sys\nfrom pathlib import Path\n\nproject_root = Path.cwd().parent\nsys.path.append(str("data"))'

In [125]:
from pathlib import Path

# Project root (one level above notebooks)
PROJECT_ROOT = Path.cwd().parent
DATA_DIR = PROJECT_ROOT / "data"

# Create data directory if it doesn't exist
DATA_DIR.mkdir(exist_ok=True)

# Save file
output_path = DATA_DIR / "preprocessed_iris_data.csv"
df.to_csv(output_path, index=False)

print('Prepprocessed data saved successfully!')

Prepprocessed data saved successfully!

In [126]:
#preprocessed_df = df

In [127]:
#preprocessed_df

In [128]:
def preprocess_data():
    df
    return df

In [129]:
data = preprocess_data()
print(data.head())

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm      species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa